swagger: '2.0'
info:
  description: >-
    With the PureCloud Platform API, you can control all aspects of your
    PureCloud environment. With the APIs you can access the system
    configuration, manage conversations and more.
  version: v2
  title: PureCloud Platform API
  termsOfService: https://help.mypurecloud.com/articles/terms-and-conditions/
  contact:
    name: PureCloud Developer Evangelists
    url: https://developer.genesys.cloud
    email: DeveloperEvangelists@genesys.com
  license:
    name: UNLICENSED
    url: https://help.mypurecloud.com/articles/terms-and-conditions/
host: api.mypurecloud.com
tags:
  - name: Events
    description: Events
    externalDocs:
      description: Events Documentation
      url: https://developer.genesys.cloud/api/rest/v2/events/
  - name: Authorization
    description: Roles and permissions
    externalDocs:
      description: Authorization Documentation
      url: https://developer.mypurecloud.com/api/rest/v2/authorization/
  - name: OAuth
    description: OAuth clients, providers
    externalDocs:
      description: OAuth Documentation
      url: https://developer.mypurecloud.com/api/rest/v2/oauth/
  - name: Objects
    description: Access-controlled objects in the platform
    externalDocs:
      description: authorization docs
      url: https://developer.mypurecloud.com/api/rest/v2/authorization/
  - name: Tokens
    description: Authentication Tokens
    externalDocs:
      description: Tokens Documentation
      url: https://developer.mypurecloud.com/api/rest/v2/tokens/
  - name: Alerting
    description: Rules and alerts
    externalDocs:
      description: Alerting Documentation
      url: >-
        https://developer.genesys.cloud/notificationsalerts/alerting/alerting-apis
  - name: Analytics
    description: Analytics querying and reporting.
    externalDocs:
      description: Analytics Documentation
      url: >-
        https://developer.genesys.cloud/analyticsdatamanagement/analytics/analytics-apis
  - name: Architect
    description: Flows, Prompts, IVR schedules, Dependency Tracking
    externalDocs:
      description: Architect Documentation
      url: https://developer.genesys.cloud/routing/architect/
  - name: Audit
    description: ''
    externalDocs:
      description: Audit Documentation
      url: https://developer.genesys.cloud/platform/audit/
  - name: Billing
    description: ''
    externalDocs:
      description: billing Documentation
      url: https://developer.genesys.cloud/billing/
  - name: Callbacks
    description: ''
  - name: Calls
    description: ''
  - name: Carrier Services
    description: ''
  - name: Chat
    description: ''
  - name: Coaching
    description: Schedule and manage coaching appointments
    externalDocs:
      description: Coaching
      url: https://developer.genesys.cloud/routing/conversations/coaching-apis
  - name: Compliance
    description: ''
  - name: Configuration
    description: ''
    externalDocs:
      description: Configuration Documentation
      url: https://developer.genesys.cloud/devapps/api-explorer
  - name: Content Management
    description: ''
    externalDocs:
      description: Content Management Documentation
      url: >-
        https://developer.genesys.cloud/analyticsdatamanagement/contentmanagement/contentmanagement-apis
  - name: Conversations
    description: ''
    externalDocs:
      description: Conversations Documentation
      url: https://developer.genesys.cloud/routing/conversations/conversations-apis
  - name: Data Extensions
    description: Data extensions
    externalDocs:
      description: Data Extensions
      url: https://developer.genesys.cloud/devapps/api-explorer
  - name: Directory Proxy
    description: Search, Suggest, and people
  - name: Downloads
    description: Download file
    externalDocs:
      description: Downloads Documentation
      url: https://developer.genesys.cloud/devapps/api-explorer
  - name: External Contacts
    description: External Organizations, contacts, notes and relationships
    externalDocs:
      description: External Contacts
      url: >-
        https://developer.genesys.cloud/commdigital/externalcontacts/externalcontacts-apis
  - name: Fax
    description: ''
    externalDocs:
      description: Fax Documentation
      url: https://developer.genesys.cloud/commdigital/fax/
  - name: Flows
    description: IVR Flows
    externalDocs:
      description: Flow Aggregates Documentation
      url: >-
        https://developer.genesys.cloud/analyticsdatamanagement/analytics/aggregate/flow-query
  - name: Gamification
    description: Gamification, Scorecard, and leaderboard
    externalDocs:
      description: Gamification Documentation
      url: https://developer.genesys.cloud/useragentman/gamification/
  - name: General Data Protection Regulation
    description: Working with General Data Protection Regulation (GDPR) requests
    externalDocs:
      description: GDPR Documentation
      url: https://developer.genesys.cloud/gdprprivacy/
  - name: Geolocation
    description: ''
    externalDocs:
      description: Geolocation Documentation
      url: https://developer.genesys.cloud/platform/geolocation-apis
  - name: Greetings
    description: ''
    externalDocs:
      description: Greetings Documentation
      url: https://developer.genesys.cloud/commdigital/greetings/
  - name: Groups
    description: Groups, members
    externalDocs:
      description: Groups Documentation
      url: https://developer.genesys.cloud/useragentman/groups/
  - name: Identity Provider
    description: Identity providers
    externalDocs:
      description: Identity Providers Documentation
      url: >-
        https://developer.genesys.cloud/authorization/oauth-apis/identityprovider/
  - name: Infrastructure as Code
    description: Accelerated infrastructure configuration via reusable modules
    externalDocs:
      description: Infrastructure as Code Documentation
      url: https://developer.genesys.cloud/devapps/api-explorer
  - name: Integrations
    description: ''
    externalDocs:
      description: Integrations Documentation
      url: https://developer.genesys.cloud/platform/integrations/
  - name: Journey
    description: Predictive Engagement, Customer Journey
    externalDocs:
      description: Journey documentation
      url: >-
        https://developer.genesys.cloud/commdigital/digital/webmessaging/journey/journey-apis
  - name: Languages
    description: Available languages
    externalDocs:
      description: Languages Documentation
      url: https://developer.genesys.cloud/organization/languages-apis
  - name: Knowledge
    description: Knowledge administration and search
  - name: Language Understanding
    description: Language Understanding
    externalDocs:
      description: Language Understanding documentation
      url: >-
        https://developer.genesys.cloud/organization/languageunderstanding/languageunderstanding-apis
  - name: Learning
    description: Manage learning modules
  - name: Licensing
    description: ''
  - name: License
    description: Per-user platform license assignments
    externalDocs:
      description: License Documentation
      url: https://developer.genesys.cloud/organization/license-apis
  - name: Locations
    description: Physical locations
    externalDocs:
      description: Locations Documentation
      url: https://developer.genesys.cloud/telephony/locations-apis
  - name: Messaging
    description: Messaging
    externalDocs:
      description: Messaging Documentation
      url: https://developer.genesys.cloud/devapps/api-explorer
  - name: Mobile Devices
    description: Devices
    externalDocs:
      description: Devices Documentation
      url: https://developer.genesys.cloud/organization/mobiledevices-apis
  - name: Notifications
    description: Channels, subscriptions, topics, mobile push registration
    externalDocs:
      description: Notifications Documentation
      url: >-
        https://developer.genesys.cloud/notificationsalerts/notifications/notifications-apis
  - name: Organization
    description: Organization
    externalDocs:
      description: Organization Documentation
      url: https://developer.genesys.cloud/organization/organization/
  - name: Organization Authorization
    description: Organization Authorization
    externalDocs:
      description: Organization Authorization Documentation
      url: >-
        https://developer.genesys.cloud/authorization/oauth-apis/organizationauthorization-apis
  - name: Outbound
    description: ''
    externalDocs:
      description: Outbound Documentation
      url: https://developer.genesys.cloud/routing/outbound/
  - name: Presence
    description: User and organization presences
    externalDocs:
      description: Presence Documentation
      url: https://developer.genesys.cloud/useragentman/presence/
  - name: Process Automation
    description: Work items, flows, triggers
  - name: Quality
    description: Evaluations, calibrations
    externalDocs:
      description: Quality Management Documentation
      url: https://developer.genesys.cloud/useragentman/quality/
  - name: Recording
    description: Recordings, policies, annotations, orphans
    externalDocs:
      description: Recording Documentation
      url: https://developer.genesys.cloud/analyticsdatamanagement/recording/
  - name: Response Management
    description: Responses, library, Response Assets, query
    externalDocs:
      description: Response Management Documentation
      url: https://developer.genesys.cloud/organization/responsemanagement-apis
  - name: Routing
    description: Queues, wrapup codes, skills, email & sms config, predictive routing
    externalDocs:
      description: Routing Documentation
      url: https://developer.genesys.cloud/routing/routing/
  - name: SCIM
    description: System for Cross-domain Identity Management
    externalDocs:
      description: >-
        System for Cross-domain Identity Management: Definitions, Overview,
        Concepts, and Requirements
      url: https://developer.genesys.cloud/useragentman/scim/scim-apis
  - name: Scripts
    description: Agent-facing scripts for interactions
    externalDocs:
      description: Scripts Documentation
      url: https://developer.genesys.cloud/routing/scripts/
  - name: Search
    description: Search aggregate, users, groups
    externalDocs:
      description: Search Documentation
      url: https://developer.genesys.cloud/organization/search/
  - name: Socialize
    description: Gets, sets and updates entity data for the Socialize service
  - name: Speech & Text Analytics
    description: ''
  - name: Stations
    description: Stations
    externalDocs:
      description: Stations Documentation
      url: https://developer.genesys.cloud/telephony/stations-apis
  - name: Suggest
    description: Search suggest user, group, locations
  - name: Teams
    description: Teams, members
    externalDocs:
      description: Teams Documentation
      url: https://developer.genesys.cloud/devapps/api-explorer
  - name: Telephony
    description: Telephony providers and configuration
    externalDocs:
      description: Telephony Documentation
      url: https://developer.genesys.cloud/telephony/telephony-apis
  - name: Telephony Providers Edge
    description: Edge phones, trunks, lines.
    externalDocs:
      description: telephony provider edge
      url: https://developer.genesys.cloud/telephony/telephony-apis
  - name: Textbots
    description: Chatbot Interactions
  - name: Uploads
    description: Presigned url generator for uploading files
    externalDocs:
      description: Upload Documentation
      url: >-
        https://developer.genesys.cloud/analyticsdatamanagement/uploads/uploads-apis
  - name: User Recordings
    description: Summary, media
    externalDocs:
      description: User Recordings Documentation
      url: >-
        https://developer.genesys.cloud/analyticsdatamanagement/recording/userrecordings-apis
  - name: Users
    description: Me, routing, roles
    externalDocs:
      description: Users Documentation
      url: https://developer.genesys.cloud/useragentman/users/
  - name: Utilities
    description: ''
    externalDocs:
      description: Utilities Documentation
      url: https://developer.genesys.cloud/organization/utilities-apis
  - name: Videos
    description: ''
  - name: Voicemail
    description: Mailbox, messages, policy
    externalDocs:
      description: Voicemail Documentation
      url: https://developer.genesys.cloud/commdigital/voicemail/
  - name: WebChat
    description: WebChat deployments
    externalDocs:
      description: WebChat Deployment Documentation
      url: https://developer.genesys.cloud/commdigital/digital/webchat/webchat-apis
  - name: WebMessaging
    description: Web messaging
    externalDocs:
      description: Web Messaging Documentation
      url: >-
        https://developer.genesys.cloud/commdigital/digital/webmessaging/webmessaging-apis
  - name: Widgets
    description: Widget deployments
    externalDocs:
      description: Widget Deployment Documentation
      url: https://developer.genesys.cloud/commdigital/digital/webchat/widgets-apis
  - name: Usage
    description: View organizational level usage data
    externalDocs:
      description: Usage Documentation
      url: https://developer.genesys.cloud/platform/usage-apis
  - name: Workforce Management
    description: >-
      Adherence, Schedules, Forecasts, Intraday Monitoring, Time Off Requests,
      Configuration
    externalDocs:
      description: Workforce Management Documentation
      url: https://developer.genesys.cloud/useragentman/workforcemanagement/
  - name: Web Deployments
    description: Web Deployments
    externalDocs:
      description: Web Deployments Documentation
      url: >-
        https://developer.genesys.cloud/commdigital/digital/webchat/webdeployments-apis
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /api/v2/outbound/campaigns/{campaignId}:
    put:
      tags:
        - Outbound
      summary: Update a campaign.
      description: ''
      operationId: putOutboundCampaign
      produces:
        - application/json
      parameters:
        - name: campaignId
          in: path
          description: Campaign ID
          required: true
          type: string
        - in: body
          name: body
          description: Campaign
          required: true
          schema:
            $ref: '#/definitions/Campaign'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Campaign'
        '400':
          description: >-
            The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            column.data.type.specification.not.found.for.contact.sort: >-
              A column data type specification must be defined for contact sort
              column
            invalid.priority: The priority must be between 1 and 5 (inclusive)
            name.length.exceeded: The name length exceeds the limit of 64 characters.
            invalid.column.data.type.specification.data.type: >-
              Column data type specification data type must match the contact
              sort column data type
            too.many.queue.members: >-
              The limit for number of queue members on a campaign configured for
              agent owned records has been exceeded. See details.
            duplicate.name: The name already exists.
            site.has.no.active.edges: There are no active edges in the site
            edge.group.not.found: The edge group could not be found.
            too.many.data.action.conditions: >-
              There can be a maximum of 1 data action condition across all rule
              sets referenced by this campaign
            missing.column.data.type.specification.in.contact.list: >-
              Column data type specifications must be defined on the campaign's
              contact list
            contact.sorts.duplicate.field.names: The same column name is used in separate contact sorts entries.
            invalid.update: ''
            more.than.one.contact.list.filter: Only one contact list filter is allowed per campaign.
            managed.site.cannot.be.configured: Managed Sites cannot be configured on a campaign.
            invalid.campaign.preview.timeout.seconds: The preview timeout seconds must be between 0 and 1200 (inclusive)
            invalid.query.param.value: >-
              Value [%s] is not valid for parameter [%s]. Allowable values are:
              %s
            resources.in.use: Resources are already in use.
            cannot.update.dynamic.contact.queueing.settings: The dynamic contact queueing settings cannot be updated
            invalid.update.bad.status.transition: The status transition is invalid.
            invalid.value: >-
              Value [%s] is not valid for field type [%s]. Allowable values are:
              %s
            contact.list.filter.not.found: The contact list filter could not be found.
            dnc.list.not.found: A do not call list could not be found.
            missing.caller.id.address: No caller id address supplied
            agent.owned.column.cannot.be.changed: The agent owned column cannot be changed.
            rule.set.not.found: A rule set could not be found.
            managed.edge.group.cannot.be.configured: Managed Edge Groups cannot be configured on a campaign.
            property.not.allowed.for.external.calling: >-
              The following properties are not allowed to be configured on an
              external campaign: abandonRate, edgeGroup, site,
              callAnalysisResponseSet, callerName, callerAddress,
              outboundLineCount, ruleSets, previewTimeOutSeconds,
              noAnswerTimeout, and callAnalysisResponseSet.
            invalid.campaign.phone.columns: The campaign phone columns are invalid.
            contact.sorts.conflict: The contact sort and contact sorts fields have conflicting values.
            invalid.update.campaign.active: The campaign is already active
            response.entity.too.large: >-
              The response is over the size limit. Reduce pageSize or expand
              list to reduce response size if applicable
            site.not.found: The site could not be found
            queue.not.found: The queue could not be found.
            dynamic.contact.queueing.settings.cannot.be.set.for.agent.owned.campaigns: >-
              Dynamic contact queueing cannot be enabled for agent owned
              campaigns
            no.edge.group.for.site: No edge group was found for the site
            name.cannot.be.blank: A name must be provided.
            invalid.campaign.outbound.line.count: ''
            bad.request: >-
              The request could not be understood by the server due to malformed
              syntax.
            callable.time.set.not.found: The callable time set could not be found.
            missing.caller.id.name: No caller id name supplied
            invalid.campaign.skill.column.data.type.specifications.max.length.limit.exceeded: >-
              The column data type specification length value exceeds the max
              length allowed for a skill column
            constraint.validation: '%s'
            dnc.list.invalid.custom.exclusion.column: >-
              The Custom Exclusion Column on one of the chosen DNC lists does
              not match any of the columns on the chosen Contact List
            contact.list.filter.does.not.match.contact.list: >-
              The contact list on the contact list filter does not match the
              contact list on the campaign.
            dynamic.queueing.campaigns.count.exceeded: The limit for dynamic queueing campaigns has been exceeded
            invalid.acw.queue.setting: >-
              Please change the After Call Work setting on the queue as Agent
              Requested is not valid
            client.failed.request: >-
              The client did not produce a request with valid end of stream
              signaling. This can be caused by poor network connection and/or
              client behavior.
            call.analysis.response.set.not.found: The call analysis response set could not be found.
            agent.owned.queue.cannot.be.changed: >-
              The queue cannot be changed on a campaign configured for agent
              owned records.
            script.not.found: The script could not be found.
            site.and.edge.group.cannot.be.configured: >-
              A single campaign cannot have both a site and an edge group
              configured
            contact.sort.field.not.found: The contact sort field is not a column on the contact list.
            invalid.campaign.agent.owned.column: >-
              The campaign agent owned column is not a valid contact list
              column.
            contact.sorts.invalid.field.name: >-
              A contact sorts field name is not a valid column name in the
              campaign's contact list.
            external.calling.property.not.allowed: >-
              Some properties cannot be set on an external calling campaign. See
              details
            invalid.property: Value [%s] is not a valid property for object [%s]
            edge.group.has.no.active.edges: There are no active edges in the edge group
            dynamic.queueing.active.campaigns.count.exceeded: The limit for active dynamic queueing campaigns has been exceeded
            invalid.call.analysis.response.set.for.agentless.campaign: The call analysis response set is invalid for agentless campaigns.
            invalid.ani.address: The caller id number is invalid.
            name.required: A name must be provided.
            callable.time.set.conflicts.with.automatic.time.zone.mapping: >-
              A callable time set cannot be included on the campaign when the
              campaign's contact list uses automatic time zone mapping.
            invalid.campaign.skill.column.data.type: >-
              The column data type specification that is selected as a skill
              column must be of Data Type text.
            active.campaigns.limit.exceeded: >-
              The maximum number of active campaigns has been reached. Please
              turn off at least one campaign and wait for it to stop before
              starting another one.
            edge.group.is.empty: There are no edges in the edge group
            invalid.date: >-
              Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ
            missing.time.zone.in.contactlist: >-
              When using a callable time set, the contact list must have at
              least one time zone column defined.
            invalid.dialing.mode.update: Invalid dialing mode
            site.is.empty: There are no edges in the site
            contact.list.import.in.progress: The contact list on the camapign is still importing contacts.
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: You are not authorized to perform the requested action.
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: >-
              Unable to perform the requested action. You are missing the
              following permission(s): %s
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s
            all.campaigns.black.listed: >-
              This organization has been blacklisted from starting campaigns. 
              Please contact support.
            authz.policy.denied: >-
              Unable to perform the requested action. Your organization's
              security policies have denied access. Policy ID(s): [%s]
            missing.any.division.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s in at least one of the
              following division(s): %s
            campaign.black.listed: This campaign has been blacklisted.  Please contact support.
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
            resource.not.found: The resource could not be found.
        '408':
          description: >-
            The client did not produce a request within the server timeout
            limit. This can be caused by a slow network connection and/or large
            payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: >-
              The client did not produce a request within the server timeout
              limit. This can be caused by a slow network connection and/or
              large payloads.
        '409':
          description: Conflict.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            invalid.update.campaign.active: The campaign is already active.
            invalid.update.wrong.version: ''
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: >-
            Unsupported Media Type - Unsupported or incorrect media type, such
            as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: >-
              Unsupported Media Type - Unsupported or incorrect media type, such
              as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: >-
            The server encountered an unexpected condition which prevented it
            from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request.
        '503':
          description: >-
            Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: >-
              Service Unavailable - The server is currently unavailable (because
              it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
        - PureCloud OAuth:
            - outbound
      x-inin-requires-permissions:
        type: ALL
        permissions:
          - outbound:campaign:edit
      x-purecloud-method-name: putOutboundCampaign
  /api/v2/outbound/schedules/campaigns/{campaignId}:
    put:
      tags:
        - Outbound
      summary: Update a new campaign schedule.
      description: ''
      operationId: putOutboundSchedulesCampaign
      produces:
        - application/json
      parameters:
        - name: campaignId
          in: path
          description: Campaign ID
          required: true
          type: string
        - in: body
          name: body
          description: CampaignSchedule
          required: true
          schema:
            $ref: '#/definitions/CampaignSchedule'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CampaignSchedule'
        '400':
          description: >-
            The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            invalid.update: ''
            invalid.interval.time: ''
            bad.request: >-
              The request could not be understood by the server due to malformed
              syntax.
            response.entity.too.large: >-
              The response is over the size limit. Reduce pageSize or expand
              list to reduce response size if applicable
            invalid.date: >-
              Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ
            invalid.query.param.value: >-
              Value [%s] is not valid for parameter [%s]. Allowable values are:
              %s
            client.failed.request: >-
              The client did not produce a request with valid end of stream
              signaling. This can be caused by poor network connection and/or
              client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: >-
              Value [%s] is not valid for field type [%s]. Allowable values are:
              %s
            future.intervals.exceeded.limit: ''
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: >-
              Unable to perform the requested action. You are missing the
              following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: >-
              Unable to perform the requested action. You are missing the
              following permission(s): %s
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s
            authz.policy.denied: >-
              Unable to perform the requested action. Your organization's
              security policies have denied access. Policy ID(s): [%s]
            missing.any.division.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s in at least one of the
              following division(s): %s
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
            campaign.not.found: The dialer campaign was not found.
        '408':
          description: >-
            The client did not produce a request within the server timeout
            limit. This can be caused by a slow network connection and/or large
            payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: >-
              The client did not produce a request within the server timeout
              limit. This can be caused by a slow network connection and/or
              large payloads.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: >-
            Unsupported Media Type - Unsupported or incorrect media type, such
            as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: >-
              Unsupported Media Type - Unsupported or incorrect media type, such
              as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: >-
            The server encountered an unexpected condition which prevented it
            from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request.
        '503':
          description: >-
            Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: >-
              Service Unavailable - The server is currently unavailable (because
              it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
        - PureCloud OAuth:
            - outbound
      x-inin-requires-permissions:
        type: ANY
        permissions:
          - outbound:schedule:edit
      x-purecloud-method-name: putOutboundSchedulesCampaign
  /api/v2/outbound/contactlists:
    post:
      tags:
        - Outbound
      summary: Create a contact List.
      description: ''
      operationId: postOutboundContactlists
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: ContactList
          required: true
          schema:
            $ref: '#/definitions/ContactList'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ContactList'
        '400':
          description: >-
            The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            name.cannot.be.blank: A name must be provided.
            contact.columns.do.not.contain.phone.number.column: The contact columns do not contain phone number column
            no.phone.columns: No phone columns provided
            name.length.exceeded: The name length exceeds the limit of 64 characters.
            system.column.phone.column: ContactList Phone column cannot be a system defined column name.
            bad.request: >-
              The request could not be understood by the server due to malformed
              syntax.
            duplicate.name: The name already exists.
            invalid.create: ''
            not.unique.email.columns: Email Columns contain duplicate values.
            missing.column.data.type.specification.max: The numeric column data type specifications max value is required.
            missing.column.data.type.specification.in.contact.list: Column data type specifications must be provided for all columns
            division.not.found: The division could not be found.
            no.contact.columns.defined: There are no contact columns defined.
            constraint.validation: '%s'
            contact.list.both.phone.email.column.empty: Contact list phone and email columns are empty.
            invalid.contact.email.column: The contact email columns are invalid.
            invalid.column.data.type.specifications.max.length.values: >-
              The text column data type specifications max length value is
              invalid.
            contact.column.length.limit.exceeded: The length of each contact column must not exceed the limit.
            not.unique.contact.columns: Contact Columns contains duplicate values.
            missing.column.data.type.specification.min: The numeric column data type specifications min value is required.
            invalid.query.param.value: >-
              Value [%s] is not valid for parameter [%s]. Allowable values are:
              %s
            client.failed.request: >-
              The client did not produce a request with valid end of stream
              signaling. This can be caused by poor network connection and/or
              client behavior.
            cannot.have.callable.time.column.with.automatic.time.zone.mapping: >-
              The phone columns cannot reference callable time columns when
              automatic time zone mapping is being used
            invalid.contact.phone.column: The contact phone columns are invalid.
            invalid.zip.code.column: >-
              The zip code column must be a column of the contact list and
              cannot be a phone column
            contact.columns.do.not.contain.email.column: The contact columns do not contain email column
            invalid.value: >-
              Value [%s] is not valid for field type [%s]. Allowable values are:
              %s
            email.columns.limit.exceeded: Number of email columns must not exceed the limit.
            contact.columns.dont.match: >-
              Contact columns field and ordered contact columns field must
              match.
            column.data.type.specifications.summed.maxlength.exceeds.maximum.allowed: >-
              The sum of maxlength for all column data type specifications text
              columns exceeds the maximum allowed.
            invalid.column.data.type.specifications.max.values: The numeric column data type specifications max value is invalid.
            not.unique.phone.columns: Phone Number Columns contain duplicate values.
            invalid.property: Value [%s] is not a valid property for object [%s]
            no.email.columns: No email columns provided
            max.entity.count.reached: The maximum contact list count has been reached.
            phone.columns.limit.exceeded: Number of phone columns must not exceed the limit.
            column.data.type.specification.column.name.not.found: >-
              Column data type specification column name is not a valid contact
              list column
            response.entity.too.large: >-
              The response is over the size limit. Reduce pageSize or expand
              list to reduce response size if applicable
            invalid.date: >-
              Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ
            contact.columns.limit.exceeded: Number of contact columns must not exceed the limit.
            cannot.have.zip.code.column.without.automatic.time.zone.mapping: >-
              The zip code column can only be used when automatic time zone
              mapping is also being used
            invalid.contact.data.value: The contact data values are invalid.
            invalid.column.data.type.specifications.min.values: The numeric column data type specifications min value is invalid.
            contact.list.email.columns.not.supported: Contact list email columns not supported.
            missing.column.data.type.specification.max.length: >-
              The numeric column data type specifications max length value is
              required.
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: You are not authorized to perform the requested action.
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: >-
              Unable to perform the requested action. You are missing the
              following permission(s): %s
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s
            authz.policy.denied: >-
              Unable to perform the requested action. Your organization's
              security policies have denied access. Policy ID(s): [%s]
            missing.any.division.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s in at least one of the
              following division(s): %s
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: >-
            The client did not produce a request within the server timeout
            limit. This can be caused by a slow network connection and/or large
            payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: >-
              The client did not produce a request within the server timeout
              limit. This can be caused by a slow network connection and/or
              large payloads.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: >-
            Unsupported Media Type - Unsupported or incorrect media type, such
            as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: >-
              Unsupported Media Type - Unsupported or incorrect media type, such
              as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: >-
            The server encountered an unexpected condition which prevented it
            from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.error: An internal server error occurred.
            internal.server.error: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request.
        '503':
          description: >-
            Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: >-
              Service Unavailable - The server is currently unavailable (because
              it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
        - PureCloud OAuth:
            - outbound
      x-inin-requires-permissions:
        type: ANY
        permissions:
          - outbound:contactList:add
      x-purecloud-method-name: postOutboundContactlists
  /api/v2/outbound/contactlists/{contactListId}/contacts:
    post:
      tags:
        - Outbound
      summary: Add contacts to a contact list.
      description: ''
      operationId: postOutboundContactlistContacts
      produces:
        - application/json
      parameters:
        - name: contactListId
          in: path
          description: Contact List ID
          required: true
          type: string
        - in: body
          name: body
          description: Contact
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/WritableDialerContact'
        - name: priority
          in: query
          description: >-
            Contact priority. True means the contact(s) will be dialed next;
            false means the contact will go to the end of the contact queue.
          required: false
          type: boolean
        - name: clearSystemData
          in: query
          description: >-
            Clear system data. True means the system columns (attempts, callable
            status, etc) stored on the contact will be cleared if the contact
            already exists; false means they won't.
          required: false
          type: boolean
        - name: doNotQueue
          in: query
          description: >-
            Do not queue. True means that updated contacts will not have their
            positions in the queue altered, so contacts that have already been
            dialed will not be redialed. For new contacts, this parameter has no
            effect; False means that updated contacts will be re-queued,
            according to the 'priority' parameter.
          required: false
          type: boolean
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DialerContact'
        '400':
          description: >-
            The request could not be understood by the server due to malformed
            syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.contacts.added: Too many contacts added, the limit is 1000 per request
            uploads.black.listed: >-
              This organization has been prohibited from uploading contacts.
              Please contact support.
            contact.missing.columns: The contact is missing columns from its contact list.
            invalid.contact.columns: The contact columns are invalid.
            contact.list.clear.in.progress: The contact list is currently being cleared.
            bad.request: >-
              The request could not be understood by the server due to malformed
              syntax.
            invalid.create: An attempt was made to create contacts in an invalid way
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.update: An attempt was made to update contacts in an invalid way
            invalid.contact.id: >-
              The custom contactId field is not valid.  It cannot contain
              special characters.
            contact.column.length.limit.exceeded: The length of each contact column must not exceed the limit.
            response.entity.too.large: >-
              The response is over the size limit. Reduce pageSize or expand
              list to reduce response size if applicable
            invalid.date: >-
              Dates must be specified as ISO-8601 strings. For example:
              yyyy-MM-ddTHH:mm:ss.SSSZ
            invalid.query.param.value: >-
              Value [%s] is not valid for parameter [%s]. Allowable values are:
              %s
            client.failed.request: >-
              The client did not produce a request with valid end of stream
              signaling. This can be caused by poor network connection and/or
              client behavior.
            contact.missing.data: The data field is required.
            contact.id.length.limit.exceeded: The length of a contact id must not exceed the limit.
            contact.columns.limit.exceeded: Number of contact columns must not exceed the limit.
            contact.datum.length.limit.exceeded: >-
              The length of each piece of contact data must not exceed the
              limit.
            contacts.per.org.limit.exceeded: The organization has reached the limit on total contacts
            invalid.value: >-
              Value [%s] is not valid for field type [%s]. Allowable values are:
              %s
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: >-
              Unable to perform the requested action. You are missing the
              following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: >-
              Unable to perform the requested action. You are missing the
              following permission(s): %s
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s
            authz.policy.denied: >-
              Unable to perform the requested action. Your organization's
              security policies have denied access. Policy ID(s): [%s]
            missing.any.division.permissions: >-
              Unable to perform the requested action. You must have at least one
              of the following permissions assigned: %s in at least one of the
              following division(s): %s
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            contact.list.not.found: The contact list could not be found.
            not.found: The requested resource was not found.
        '408':
          description: >-
            The client did not produce a request within the server timeout
            limit. This can be caused by a slow network connection and/or large
            payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: >-
              The client did not produce a request within the server timeout
              limit. This can be caused by a slow network connection and/or
              large payloads.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: >-
            Unsupported Media Type - Unsupported or incorrect media type, such
            as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: >-
              Unsupported Media Type - Unsupported or incorrect media type, such
              as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: >-
            The server encountered an unexpected condition which prevented it
            from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.error: An internal service error occurred.
            internal.server.error: >-
              The server encountered an unexpected condition which prevented it
              from fulfilling the request.
        '503':
          description: >-
            Service Unavailable - The server is currently unavailable (because
            it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: >-
              Service Unavailable - The server is currently unavailable (because
              it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
        - PureCloud OAuth:
            - outbound
      x-inin-requires-permissions:
        type: ANY
        permissions:
          - outbound:contact:add
      x-purecloud-method-name: postOutboundContactlistContacts
securityDefinitions:
  PureCloud OAuth:
    type: oauth2
    authorizationUrl: https://login.mypurecloud.com/authorize
    flow: implicit
    scopes:
      all: All the scopes
  Guest Chat JWT:
    type: apiKey
    name: Authorization
    in: header
definitions:
  BatchEventResponse:
    type: object
    properties:
      errors:
        type: array
        description: A list of validation or server errors that occurred for posted events.
        items:
          $ref: '#/definitions/EventError'
  EventError:
    type: object
    properties:
      eventId:
        type: string
        description: The eventId (V4 UUID) for the event that encountered an error.
      message:
        type: string
        description: A message describing the error.
      retryable:
        type: boolean
        description: The event for this eventId can be resubmitted if this value is true.
  AudioState:
    type: object
    properties:
      canHear:
        type: boolean
        description: >-
          Indicates that this communication's audio allows its participant to
          hear others.
      canSpeak:
        type: boolean
        description: >-
          Indicates that this communication's audio allows others to hear this
          participant.
  AudioUpdatedEvent:
    type: object
    required:
      - audioState
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      audioState:
        description: The updated audioState for the target communication.
        $ref: '#/definitions/AudioState'
  BatchConversationEventRequest:
    type: object
    properties:
      endTransferEvents:
        type: array
        description: EndTransfer events for this batch
        items:
          $ref: '#/definitions/EndTransferEvent'
      phoneTransferEvents:
        type: array
        description: PhoneTransfer events for this batch
        items:
          $ref: '#/definitions/PhoneTransferEvent'
      progressTransferEvents:
        type: array
        description: ProgressTransfer events for this batch
        items:
          $ref: '#/definitions/ProgressTransferEvent'
      routingTransferEvents:
        type: array
        description: RoutingTransfer events for this batch
        items:
          $ref: '#/definitions/RoutingTransferEvent'
      userTransferEvents:
        type: array
        description: UserTransfer events for this batch
        items:
          $ref: '#/definitions/UserTransferEvent'
      communicationAnsweredEvents:
        type: array
        description: CommunicationAnswered events for this batch
        items:
          $ref: '#/definitions/CommunicationAnsweredEvent'
      communicationDispositionAppliedEvents:
        type: array
        description: CommunicationDispositionApplied events for this batch
        items:
          $ref: '#/definitions/CommunicationDispositionAppliedEvent'
      holdUpdatedEvents:
        type: array
        description: HoldUpdated events for this batch
        items:
          $ref: '#/definitions/HoldUpdatedEvent'
      externalEstablishedEvents:
        type: array
        description: ExternalEstablished events for this batch
        items:
          $ref: '#/definitions/ExternalEstablishedEvent'
      ivrEstablishedEvents:
        type: array
        description: IvrEstablished events for this batch
        items:
          $ref: '#/definitions/IvrEstablishedEvent'
      phoneEstablishedEvents:
        type: array
        description: PhoneEstablished events for this batch
        items:
          $ref: '#/definitions/PhoneEstablishedEvent'
      routingEstablishedEvents:
        type: array
        description: RoutingEstablished events for this batch
        items:
          $ref: '#/definitions/RoutingEstablishedEvent'
      userEstablishedEvents:
        type: array
        description: UserEstablished events for this batch
        items:
          $ref: '#/definitions/UserEstablishedEvent'
      audioUpdatedEvents:
        type: array
        description: AudioUpdated events for this batch
        items:
          $ref: '#/definitions/AudioUpdatedEvent'
      communicationEndedEvents:
        type: array
        description: CommunicationEnded events for this batch
        items:
          $ref: '#/definitions/CommunicationEndedEvent'
      consultTransferEvents:
        type: array
        description: ConsultTransfer events for this batch
        items:
          $ref: '#/definitions/ConsultTransferEvent'
      progressConsultTransferEvents:
        type: array
        description: ProgressConsultTransfer events for this batch
        items:
          $ref: '#/definitions/ProgressConsultTransferEvent'
      endConsultTransferEvents:
        type: array
        description: EndConsultTransfer events for this batch
        items:
          $ref: '#/definitions/EndConsultTransferEvent'
    description: A maximum of 100 events are allowed per request
  CommunicationAnsweredEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
  CommunicationDispositionAppliedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      code:
        type: string
        description: >-
          The wrapup-code (V4 UUID) used to disposition this interaction. If
          this value is not provided the disposition is considered skipped.
      notes:
        type: string
        description: >-
          Text entered by the agent to describe the interaction or disposition.
          Ignored if the disposition is considered skipped.
      tags:
        type: array
        description: >-
          The list of tags selected by the agent to describe the interaction or
          disposition. Ignored if the disposition is considered skipped.
        items:
          type: string
  CommunicationEndedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - disconnectType
      - eventDateTime
      - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      disconnectType:
        type: string
        description: Indicates how this communication was ended.
        enum:
          - Error
          - Peer
          - Self
          - System
          - Transfer
          - TransferACD
          - TransferConference
          - TransferConsult
          - TransferUser
      destinationConversationId:
        type: string
        description: >-
          The id (V4 UUID) of the conversation that the communication is being
          moved to when conversations are merged.
  ConsultTransferEvent:
    type: object
    required:
      - conversationId
      - destinationCommunicationId
      - eventDateTime
      - eventId
      - initiatingCommunicationId
      - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      initiatingCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication representing the participant
          that is initiating the transfer.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
  EndConsultTransferEvent:
    type: object
    required:
      - conversationId
      - eventDateTime
      - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
  EndTransferEvent:
    type: object
    required:
      - commandId
      - conversationId
      - eventDateTime
      - eventId
      - finalState
      - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      commandId:
        type: string
        description: >-
          The id (V4 UUID) used to identify the transfer already started by the
          external platform.
      finalState:
        type: string
        description: >-
          Indicates whether the transfer completed successfully, was cancelled,
          or failed for some reason.
        enum:
          - Completed
          - Canceled
          - Failed
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that was being transferred.
  ExternalEstablishedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
      - initialConfiguration
      - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      ani:
        type: string
        description: >-
          The automatic number identification if it is available for this
          conversation.
      aniName:
        type: string
        description: >-
          The automatic number identification name if it is available for this
          conversation.
      dnis:
        type: string
        description: >-
          The dialed number identification if it is available for this
          conversation.
      dnisName:
        type: string
        description: >-
          The dialed number identification name if it is available for this
          conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  HoldUpdatedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
      - held
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      held:
        type: boolean
        description: Indicates whether this communication is held.
  InitialConfiguration:
    type: object
    properties:
      audioState:
        description: Indicates the initial audio state for the communication.
        $ref: '#/definitions/AudioState'
      alerting:
        type: boolean
        description: >-
          Indicates that this communication's initial state is alerting. If
          false, the communication started in a connected state.
      inbound:
        type: boolean
        description: >-
          Indicates the direction of this communication with respect to the
          contact center. `true` means the communication is INBOUND. `false`
          means the communication is OUTBOUND.
      invitedBy:
        type: string
        description: >-
          The id of the communication (the "peer") that "invited" this
          communication, if this occurred.
      recordingActive:
        type: boolean
        description: >-
          Indicates whether recording is active for this communication at
          creation.
      additionalInfo:
        type: object
        description: >-
          Additional metadata about this session which should be recorded by the
          platform but which will not be indexed or searchable. Primarily for
          diagnostic value. Any information that needs to be accessible through
          other components like Analytics should be moved to dedicated fields.
        additionalProperties:
          type: string
  IvrEstablishedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
      - initialConfiguration
      - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      ivrPhoneNumber:
        type: string
        description: The phone number for this IVR, if any is known
      ivrName:
        type: string
        description: A displayable name for this IVR, if any is known.
      ani:
        type: string
        description: >-
          The automatic number identification if it is available for this
          conversation.
      dnis:
        type: string
        description: >-
          The dialed number identification if it is available for this
          conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  PhoneEstablishedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
      - initialConfiguration
      - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      phoneNumber:
        type: string
        description: The phone number for this phone.
      ani:
        type: string
        description: >-
          The automatic number identification if it is available for this
          conversation.
      dnis:
        type: string
        description: >-
          The dialed number identification if it is available for this
          conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  PhoneTransferEvent:
    type: object
    required:
      - commandId
      - conversationId
      - destinationPhoneNumber
      - eventDateTime
      - eventId
      - initiatingCommunicationId
      - objectCommunicationId
      - targetCommunicationId
      - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
          - Attended
          - Unattended
      commandId:
        type: string
        description: >-
          The id (V4 UUID) used by the external platform to refer to the
          transfer in subsequent Transfer events.
      initiatingCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication representing the participant
          that is initiating the transfer.
      targetCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication that is being transferred away
          from. In many cases this will be the same as the
          `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationPhoneNumber:
        type: string
        description: >-
          The desired destination phone number that the object communication
          should be transferred to.
  ProgressConsultTransferEvent:
    type: object
    required:
      - conversationId
      - destinationCommunicationId
      - eventDateTime
      - eventId
      - initiatingCommunicationId
      - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      initiatingCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication representing the participant
          that is initiating the transfer.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
  ProgressTransferEvent:
    type: object
    required:
      - commandId
      - conversationId
      - destinationCommunicationId
      - eventDateTime
      - eventId
      - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      commandId:
        type: string
        description: >-
          The id (V4 UUID) used to identify the transfer already started by the
          external platform.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
  RoutingEstablishedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
      - initialConfiguration
      - queueId
      - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      phoneNumber:
        type: string
        description: >-
          Identifies the phone number used to reach this queue if it is
          different from the information that would be accessed by queueId.
      queueId:
        type: string
        description: The id (V4 UUID) of the queue that is routing this conversation.
      ani:
        type: string
        description: >-
          The automatic number identification if it is available for this
          conversation.
      dnis:
        type: string
        description: >-
          The dialed number identification if it is available for this
          conversation.
      skillIds:
        type: array
        description: >-
          The unique identifiers (V4 UUID) for the skills that should be used to
          determine the destination for the conversation.
        items:
          type: string
      languageId:
        type: string
        description: >-
          The unique identifier (V4 UUID) for the language that should be used
          to determine the destination for the conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  RoutingTransferEvent:
    type: object
    required:
      - commandId
      - conversationId
      - destinationQueueId
      - eventDateTime
      - eventId
      - initiatingCommunicationId
      - objectCommunicationId
      - targetCommunicationId
      - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
          - Attended
          - Unattended
      commandId:
        type: string
        description: >-
          The id (V4 UUID) used by the external platform to refer to the
          transfer in subsequent *Transfer events.
      initiatingCommunicationId:
        type: string
        description: Indicates the desired type of transfer.
      targetCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication that is being transferred away
          from. In many cases this will be the same as the
          `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationQueueId:
        type: string
        description: >-
          The id (V4 UUID) of the desired destination queue that the object
          communication should be transferred to.
      languageId:
        type: string
        description: >-
          The unique identifier (V4 UUID) for the language that should be used
          to determine the destination for the conversation.
      skillIds:
        type: array
        description: >-
          The unique identifiers (V4 UUID) for the skills that should be used to
          determine the destination for the conversation.
        items:
          type: string
  SourceConfiguration:
    type: object
    required:
      - interactionId
      - sourceId
    properties:
      sourceId:
        type: string
        description: >-
          Identifies the external platform that is the source of the
          conversation.
      interactionId:
        type: string
        description: >-
          The customer's unique external identifier associated with the
          conversation that comes from the external platform.
      tagId:
        type: string
        description: >-
          The customer's external identifier or tag associated with the
          conversation. If set, it will be used to tag the conversation.
  UserEstablishedEvent:
    type: object
    required:
      - communicationId
      - conversationId
      - eventDateTime
      - eventId
      - initialConfiguration
      - sourceConfiguration
      - userId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      phoneNumber:
        type: string
        description: >-
          Identifies the phone number used to reach this user if it is different
          from the information that would be accessed by userId.
      userId:
        type: string
        description: The userId (V4 UUID) for the user this communication belongs to.
      stationId:
        type: string
        description: >-
          A Station ID (V4 UUID) that identifies the station being used if the
          user is using a station and the stationId is known.
      ani:
        type: string
        description: >-
          The automatic number identification if it is available for this
          conversation.
      dnis:
        type: string
        description: >-
          The dialed number identification if it is available for this
          conversation.
      afterCallWorkRequired:
        type: boolean
        description: >-
          Indicates whether or not this user will be required to complete after
          call work.
      queueId:
        type: string
        description: >-
          The id (V4 UUID) of the queue that the user is calling on behalf of.
          Applies to outbound calls only.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  UserTransferEvent:
    type: object
    required:
      - commandId
      - conversationId
      - destinationUserId
      - eventDateTime
      - eventId
      - initiatingCommunicationId
      - objectCommunicationId
      - targetCommunicationId
      - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
          - Attended
          - Unattended
      commandId:
        type: string
        description: >-
          The id (V4 UUID) used by the external platform to refer to the
          transfer in subsequent Transfer events.
      initiatingCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication representing the participant
          that is initiating the transfer.
      targetCommunicationId:
        type: string
        description: >-
          The id (V4 UUID) of the communication that is being transferred away
          from. In many cases this will be the same as the
          `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationUserId:
        type: string
        description: >-
          The id (V4 UUID) of the desired destination user that the object
          communication should be transferred to.
  BatchUserRoutingStatusEventRequest:
    type: object
    properties:
      userRoutingStatusEvents:
        type: array
        description: UserRoutingStatus events for this batch
        items:
          $ref: '#/definitions/UserRoutingStatusEvent'
    description: A maximum of 100 events are allowed per request
  UserRoutingStatusEvent:
    type: object
    required:
      - agentId
      - eventDateTime
      - eventId
      - sourceId
      - status
    properties:
      eventId:
        type: string
        description: A unique (UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A timestamp as epoch representing the time this event occurred. Date
          time is represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      agentId:
        type: string
        description: Unique identifier of the agent.
      status:
        type: string
        description: The agent's current routing status.
        enum:
          - OffQueue
          - Idle
          - Interacting
          - Communicating
          - NotResponding
      sourceId:
        type: string
        description: The agent's source platform Id.
  BatchUserPresenceEventRequest:
    type: object
    properties:
      userPresenceEvents:
        type: array
        description: UserPresence events for this batch
        items:
          $ref: '#/definitions/UserPresenceEvent'
    description: A maximum of 100 events are allowed per request
  UserPresenceEvent:
    type: object
    required:
      - eventDateTime
      - eventId
      - sourceId
      - userId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: >-
          A Date Time representing the time this event occurred. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      userId:
        type: string
        description: The User ID of the user associated with this UserPresence
      sourceId:
        type: string
        description: The id (V4 UUID) of the presence source being updated
      presenceDefinitionId:
        type: string
        description: >-
          The id (UUID) of the presence definition that the user presence is
          associated with
      message:
        type: string
        description: The message associated with the presence
  AuthzDivision:
    type: object
    required:
      - description
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
      description:
        type: string
        description: A helpful description for the division.
      homeDivision:
        type: boolean
        description: >-
          A flag indicating whether this division is the "Home" (default)
          division. Cannot be modified and any supplied value will be ignored on
          create or update.
        readOnly: true
      objectCounts:
        type: object
        description: A count of objects in this division, grouped by type.
        readOnly: true
        additionalProperties:
          type: integer
          format: int64
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  AuthzDivisionEntityListing:
    type: object
    properties:
      entities:
        type: array
        items:
          $ref: '#/definitions/AuthzDivision'
      pageSize:
        type: integer
        format: int32
      pageNumber:
        type: integer
        format: int32
      total:
        type: integer
        format: int64
      firstUri:
        type: string
        format: uri
      nextUri:
        type: string
        format: uri
      previousUri:
        type: string
        format: uri
      lastUri:
        type: string
        format: uri
      selfUri:
        type: string
        format: uri
      pageCount:
        type: integer
        format: int32
  DomainEntityRef:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      selfUri:
        type: string
        format: uri
  Entity:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
  NamedEntity:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
        description: The name of the object.
        readOnly: true
  OrgOAuthClient:
    type: object
    required:
      - authorizedGrantType
      - name
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
        description: The name of the OAuth client.
      dateCreated:
        type: string
        format: date-time
        description: >-
          Date this client was created. Date time is represented as an ISO-8601
          string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z
      dateModified:
        type: string
        format: date-time
        description: >-
          Date this client was last modified. Date time is represented as an
          ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z
      createdBy:
        description: User that created this client
        $ref: '#/definitions/DomainEntityRef'
      modifiedBy:
        description: User that last modified this client
        $ref: '#/definitions/DomainEntityRef'
      authorizedGrantType:
        type: string
        description: >
          The OAuth Grant/Client type supported by this client.

          Code Authorization Grant/Client type - Preferred client type where the
          Client ID and Secret are required to create tokens. Used where the
          secret can be secured.

          PKCE-Enabled Code Authorization grant type - Code grant type which
          requires PKCE challenge and verifier to create tokens. Used in public
          clients for increased security.

          Implicit grant type - Client ID only is required to create tokens.
          Used in browser and mobile apps where the secret can not be secured.

          SAML2-Bearer extension grant type - SAML2 assertion provider for user
          authentication at the token endpoint.

          Client Credential grant type - Used to created access tokens that are
          tied only to the client.
        enum:
          - CODE
          - TOKEN
          - SAML2-BEARER
          - PASSWORD
          - CLIENT-CREDENTIALS
      scope:
        type: array
        description: >-
          The scope requested by this client. Scopes only apply to clients not
          using the client_credential grant
        items:
          type: string
      roleDivisions:
        type: array
        description: >-
          Set of roles and their corresponding divisions associated with this
          client. Roles and divisions only apply to clients using the
          client_credential grant
        uniqueItems: true
        items:
          $ref: '#/definitions/RoleDivision'
      state:
        type: string
        description: >-
          The state of the OAuth client.

          Active: The OAuth client can be used to create access tokens. This is
          the default state.

          Disabled: Access tokens created by the client are invalid and new ones
          cannot be created.

          Inactive: Access tokens cannot be created with this OAuth client and
          it will be deleted.
        enum:
          - active
          - disabled
          - inactive
      dateToDelete:
        type: string
        format: date-time
        description: >-
          The time at which this client will be deleted. Date time is
          represented as an ISO-8601 string. For example:
          yyyy-MM-ddTHH:mm:ss[.mmm]Z
      organization:
        description: The  oauth client's organization.
        readOnly: true
        $ref: '#/definitions/NamedEntity'
  RoleDivision:
    type: object
    required:
      - divisionId
      - roleId
    properties:
      roleId:
        type: string
        description: Role to be associated with the given division which forms a grant
      divisionId:
        type: string
        description: Division associated with the given role which forms a grant
  TokenInfo:
    type: object
    properties:
      organization:
        description: The current organization
        readOnly: true
        $ref: '#/definitions/NamedEntity'
      homeOrganization:
        description: The token's home organization
        readOnly: true
        $ref: '#/definitions/NamedEntity'
      authorizedScope:
        type: array
        description: The list of scopes authorized for the OAuth client
        readOnly: true
        items:
          type: string
      clonedUser:
        description: >-
          Only present when a user is a clone of trustee user in the trustor
          org.
        readOnly: true
        $ref: '#/definitions/TokenInfoClonedUser'
      OAuthClient:
        $ref: '#/definitions/OrgOAuthClient'
  TokenInfoClonedUser:
    type: object
    properties:
      id:
        type: string
        description: User id of the original native user
        readOnly: true
      organization:
        description: Organization of the original native user
        readOnly: true
        $ref: '#/definitions/Entity'
  Station:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
      description:
        type: string
      status:
        type: string
        enum:
          - AVAILABLE
          - ASSOCIATED
      userId:
        type: string
        description: >-
          The Id of the user currently logged in and associated with the
          station.
      webRtcUserId:
        type: string
        description: >-
          The Id of the user configured for the station if it is of type
          inin_webrtc_softphone. Empty if station type is not
          inin_webrtc_softphone.
      primaryEdge:
        $ref: '#/definitions/DomainEntityRef'
      secondaryEdge:
[...]
